nav {
  display:inline-block;
  width:80%;
}
ul {
 display: flex;
 justify-content: space-evenly;
}
.active_class{
  color:#2196F3;
}
.main_image{
  width:10%;
  display:inline-block;
}
header {
  background: lightgray;
}

h1 {
  color: #0000ffe6;
  text-align: center;
  font-style: oblique;
  font-weight: bolder;
  font-size: xxx-large;
  font-family: monospace;
}
main {
  background: #ffff00ab;
}

footer {
 background: #ababcf;
}
.container_class {
  flex-wrap: wrap;
  display:flex;
}

.container_image_class{
 flex: 0 0 50%;   /* each item takes 50% of the row */
  box-sizing: border-box;
  border: 1px solid #333;
  padding: 10px;

}
